# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/
dist/
build/

# Venv
.venv/

# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

# IDE
.idea/
.vscode/
*.swp

# Data
*.db
*.key

# OS
.DS_Store
*.pdf
